/* styles.css */
/* Declaração de cores globais */
:root {
    --light-gray:#333;
}
/* Estilos CSS para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos CSS para o cabeçalho */
header {
    background-color:var(--light-gray);
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Estilos CSS para o título h1 no cabeçalho */
h1 {
    margin: 0;
}

/* Estilos CSS para a barra de pesquisa */
.barra-de-pesquisa {
    display: grid;
    margin: 20px 0;
}
#countryInput, #suggestions {
    margin-left: auto;
    margin-right: auto;
    }
/* Estilos CSS para a entrada de texto da barra de pesquisa */
.barra-de-pesquisa input {
    width: 300px;
    padding: 5px;
    border: none;
    background-color: #f2f2f2;
    font-size: 16px;
}

/* Estilos CSS para a lista de sugestões de países */
.barra-de-pesquisa ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    width: 300px;
    text-align: left;
}

/* Estilos CSS para cada item da lista de sugestões de países */
.barra-de-pesquisa li {
    padding: 5px;
    cursor: pointer;
}

/* Estilos CSS para o contêiner de notícias */
.noticias {
    margin: 20px;
}

/* Estilos CSS para cada item de notícia */
.noticias .news-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
}

/* Estilos CSS para a imagem da notícia */
.noticias .news-item img {
    max-width: 100%;
    height: auto;
}

/* Estilos CSS para o título da notícia */
.noticias .news-item h2 {
    margin: 10px 0;
}

/* Estilos CSS para o link "Leia Mais" */
.noticias .news-item a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #0077cc;
}
/* Estilos CSS do logo */
.site-logo{
    height: 200px;
}
/* Estilos CSS do sidebar */
.sidebar-menu{
    width: 0px;
    position: fixed;
    background-color: var(--light-gray);
    height: 100%;
    min-height: 450px;
    overflow-y: hidden;
    top: 0;
    transition: 0.5s;
}
.sidebar-close{
    position: absolute;
    font-size: 3em;
    color: white;
    right: 0;
    margin-right: 30px;
}
.hamburguer-menu{
    font-size: 2em;
    margin-left: 15px;
}
.cursor-pointer{
    cursor: pointer;
}
.heading{
    display: flex;
}
.heading-title{
    width: 100%;
}
.sidebar-links{
    display: flex;
    flex-direction: column;
}
.sidebar-links > a{
    color: white;
    font-size: 1em;
    margin: 10px 0px 10px 10px;
    text-decoration: none;
}
.sidebar-links > a:hover{
    color:blanchedalmond;
}
/* Fim dos estilos CSS do sidebar*/